@charset "UTF-8";
/* Variables */
/* Mixins */
/* Code */
/* Livraison & Retour */
.header_livraison {
  background-image: url("../../assets/carrelage-main.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  animation: anim_un 10s linear infinite;
}

.livraison {
  background-color: #F0F0F0;
}
.livraison h2 {
  font-size: calc(1em + 1vw);
}
.livraison_conteneur {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 40px;
}
.livraison_titre {
  display: flex;
  justify-content: center;
}
.livraison_texte, .livraison_couts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
}
.livraison_texte_livraison, .livraison_texte_ileDeFrance, .livraison_texte_retrait, .livraison_texte_france, .livraison_couts_livraison, .livraison_couts_ileDeFrance, .livraison_couts_retrait, .livraison_couts_france {
  width: 50%;
}
.livraison_ligne {
  width: 150px;
  align-self: center;
  border-bottom: 3px solid #28292A;
  padding-bottom: 10px;
}
.livraison .maps {
  position: relative;
  margin: 0px;
}
.livraison .maps_canvas {
  overflow: hidden;
  background: none !important;
}
.livraison .maps_img {
  height: 400px;
  width: 500px;
}

/* CGV & Mentions Légales */
.header_cgv, .header_mentionsLegales {
  background-image: url("../../assets/parquet-contrecolle.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  animation: anim_un 10s linear infinite;
}

.cgv, .mentionsLegales {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #F0F0F0;
}
.cgv h1, .mentionsLegales h1 {
  font-size: calc(1.7em + 1.7vw);
  text-align: center;
}
.cgv h2, .mentionsLegales h2 {
  font-size: calc(0.8em + 0.8vw);
  padding: 20px 0px 0px 40px;
}
.cgv p, .mentionsLegales p {
  font-size: calc(0.5em + 0.5vw);
}
.cgv_ligne, .mentionsLegales_ligne {
  width: 150px;
  align-self: center;
  border-bottom: 3px solid #28292A;
  padding-bottom: 20px;
}
.cgv_edition, .mentionsLegales_edition {
  align-self: center;
}
.cgv .p_un, .mentionsLegales .p_un {
  padding-top: 20px;
}

/* Simulateur */
.header_simulateur {
  background-image: url("../../assets/carrelage-main.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  animation: anim_un 10s linear infinite;
}

.simulateur {
  background-color: #F0F0F0;
}

.construction {
  display: flex;
  flex-direction: column;
  height: 500px;
  border: solid 5px #D3D3D3;
  text-align: center;
  justify-content: center;
}
.construction h2 {
  font-size: calc(1.6em + 1.6vw);
  text-transform: uppercase;
  background-color: #28292A;
  color: #D3D3D3;
  padding: 0px 20px 16px 20px;
}
.construction p {
  font-size: calc(0.8em + 0.8vw);
  margin: 0px;
  padding: 0px 20px 16px 20px;
  background-color: #28292A;
  color: #D3D3D3;
}
.construction a {
  background-color: #28292A;
}
.construction .boutonPro {
  padding-top: 40px;
}

/* Erreur */
.header_error {
  height: 200px !important;
  background-image: url("../../assets/header-parquet.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  animation: anim_un 10s linear infinite;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F0F0;
  padding-bottom: 20px;
}
.error img {
  height: auto;
  width: 100%;
}
.error_title {
  font-size: calc(2em + 2vw);
}
.error_subtitle {
  text-align: center;
  font-size: calc(1.2em + 1.2vw);
}
.error .boutonPro {
  padding: 20px 0px;
}
.error .boutonPro a {
  color: #28292A;
  border: 2px solid #28292A;
  border-radius: 20px;
  padding: 8px 16px;
}
.error .boutonPro a:hover {
  color: #D3D3D3;
  background-color: #28292A;
  border-color: #D3D3D3;
}

/* Tablet */
@media all and (max-width: 1199px) {
  .header_livraison, .header_simulateur, .header_cgv, .header_mentionsLegales, .header_error {
    height: 300px !important;
    animation: anim_deux 10s linear infinite;
  }
  .livraison_conteneur {
    padding: 0px 40px;
  }
  .livraison_titre {
    padding-top: 30px;
  }
  .livraison_texte {
    display: flex;
    flex-direction: column;
  }
  .livraison_texte_livraison, .livraison_texte_retrait {
    width: 100%;
  }
  .cgv, .mentionsLegales {
    padding: 20px;
  }
}
/* Smartphone */
@media all and (max-width: 767px) {
  .header_livraison, .header_simulateur, .header_cgv, .header_mentionsLegales, .header_error {
    animation: anim_trois 10s linear infinite;
  }
  .livraison_conteneur {
    padding: 0px 10px;
  }
  .livraison .maps_img {
    height: 300px;
    width: 300px;
  }
}
@media all and (max-width: 549px) {
  .header_livraison, .header_simulateur, .header_cgv, .header_mentionsLegales, .header_error {
    animation: anim_quatre 10s linear infinite;
  }
}/*# sourceMappingURL=Autre.css.map */