@charset "UTF-8";
/* Variables */
/* Mixins */
/* Code */
/* Livraison & Retour */
.pageLivraison {
  background-color: #F5F5F5;
}

.livraison {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 40px;
}
.livraison h2 {
  font-size: calc(1em + 1vw);
}
.livraison_titre {
  display: flex;
  justify-content: center;
}
.livraison_texte, .livraison_couts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
}
.livraison_texte_livraison, .livraison_texte_ileDeFrance, .livraison_couts_livraison, .livraison_couts_ileDeFrance {
  width: 50%;
}
.livraison_texte_retrait, .livraison_texte_france, .livraison_couts_retrait, .livraison_couts_france {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.livraison_ligne {
  width: 150px;
  align-self: center;
  border-bottom: 3px solid #28292A;
  padding-bottom: 10px;
}

.maps {
  position: relative;
  margin: 0px;
}
.maps_canvas {
  overflow: hidden;
  background: none !important;
}
.maps_img {
  height: 400px;
  width: 500px;
}

/* CGV & Mentions Légales */
.cgv, .mentionsLegales {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 40px 40px;
  background-color: #F5F5F5;
}
.cgv h1, .mentionsLegales h1 {
  font-size: calc(1.7em + 1.7vw);
  text-align: center;
}
.cgv h2, .mentionsLegales h2 {
  font-size: calc(0.8em + 0.8vw);
  padding: 20px 0px 0px 40px;
}
.cgv p, .mentionsLegales p {
  font-size: calc(0.5em + 0.5vw);
}
.cgv_ligne, .mentionsLegales_ligne {
  width: 150px;
  align-self: center;
  border-bottom: 3px solid #28292A;
  padding-bottom: 20px;
}
.cgv_edition, .mentionsLegales_edition {
  align-self: center;
}
.cgv .p_un, .mentionsLegales .p_un {
  padding-top: 20px;
}

/* Simulateur */
.simulateur {
  background-color: #F5F5F5;
}

.construction {
  display: flex;
  flex-direction: column;
  height: 500px;
  border: solid 5px #D3D3D3;
  text-align: center;
  justify-content: center;
  background-image: url("../../assets/construction.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.construction h2 {
  font-size: calc(1.6em + 1.6vw);
  text-transform: uppercase;
  background-color: #28292A;
  color: #D3D3D3;
  padding: 0px 20px 16px 20px;
}
.construction p {
  font-size: calc(0.8em + 0.8vw);
  margin: 0px;
  padding: 0px 20px 16px 20px;
  background-color: #28292A;
  color: #D3D3D3;
}
.construction a {
  background-color: #28292A;
  padding: 0px;
}
.construction .boutonPro {
  padding-top: 40px;
}

/* Erreur */
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  padding: 120px 0px 20px 0px;
}
.error_title {
  font-size: calc(2em + 2vw);
  font-weight: 300;
  color: #28292A;
}
.error_subtitle {
  font-size: calc(1.2em + 1.2vw);
  color: #28292A;
  font-weight: 300;
}
.error .boutonPro {
  padding: 20px 0px;
}
.error .boutonPro a {
  color: #28292A;
  border: 2px solid #28292A;
  border-radius: 20px;
  padding: 8px 16px;
}
.error .boutonPro a:hover {
  color: #D3D3D3;
  background-color: #28292A;
  border-color: #D3D3D3;
}

.illustration {
  max-width: 800px;
}

/* Tablet */
@media all and (max-width: 1199px) {
  .pageLivraison .livraison {
    padding: 0px 40px;
  }
  .pageLivraison .livraison_titre {
    padding-top: 30px;
  }
  .pageLivraison .livraison_texte {
    display: flex;
    flex-direction: column;
  }
  .pageLivraison .livraison_texte_livraison, .pageLivraison .livraison_texte_retrait {
    width: 100%;
  }
  .cgv, .mentionsLegales {
    padding: 20px 20px 20px 20px;
  }
}
/* Smartphone */
@media all and (max-width: 767px) {
  .pageLivraison .maps_img {
    height: 300px;
    width: 300px;
  }
}/*# sourceMappingURL=Autre.css.map */