/* Variables */
$primary-color: #646464;
$secondary-color: #D3D3D3;
$tertiary-color: #F0F0F0;
$black-color: #28292A;
$font-family-primary: "Noto Serif JP";
$font-family-default: sans-serif;

/* Mixins */
@mixin display-flex($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
}

/* Code */
/* Livraison & Retour */
.header_livraison {
    background-image: url("../../assets/parquet-pvc.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    animation: anim_un 10s linear infinite;
}

.livraison {
    background-color: $tertiary-color;

    & h2 {
        font-size: calc(1em + 1vw);
    }

    &_conteneur {
        @include display-flex(column);
        justify-content: space-between;
        text-align: center;
        padding: 40px;
    }
    
    &_titre {
        display: flex;
        justify-content: center;
    }
    
    &_texte, &_couts {
        @include display-flex(row);
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        padding-top: 30px;

        &_livraison, &_ileDeFrance, &_retrait, &_france {
            width: 50%;
        }
    }
    
    &_ligne {
        width: 150px;
        align-self: center;
        border-bottom: 3px solid $black-color;    
        padding-bottom: 10px;
    }

    & .maps {
        position: relative;
        margin: 0px;
    
        &_canvas {
            overflow: hidden;
            background: none!important;
        }
    
        &_img {
            height: 400px;
            width: 500px;
        }
    }
}

/* CGV & Mentions Légales */
.header_cgv, .header_mentionsLegales {
    background-image: url("../../assets/carrelage-faience.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    animation: anim_un 10s linear infinite;
}

.cgv, .mentionsLegales {
    @include display-flex(column);
    padding: 40px;
    background-color: $tertiary-color;

    & h1 {
        font-size: calc(1.7em + 1.7vw);
        text-align: center;
    }
   
    & h2 {
        font-size: calc(0.8em + 0.8vw);
        padding: 20px 0px 0px 40px;
    }

    & p {
        font-size: calc(0.5em + 0.5vw);
    }

    &_ligne {
        width: 150px;
        align-self: center;
        border-bottom: 3px solid $black-color;
        padding-bottom: 20px;    
    }

    &_edition {
        align-self: center;
    }

    & .p_un {
        padding-top: 20px;
    }
}

/* Simulateur */
.header_simulateur {
    background-image: url("../../assets/parquet-pvc.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    animation: anim_un 10s linear infinite;
}

.simulateur {
    background-color: $tertiary-color;
}

.construction {
    @include display-flex(column);
    height: 500px;
    border: solid 5px $secondary-color;
    text-align: center;
    justify-content: center;

    & h2 {
        font-size: calc(1.6em + 1.6vw);
        text-transform: uppercase;
        background-color: $black-color;
        color: $secondary-color;
        padding : 0px 20px 16px 20px;
    }

    & p {
        font-size: calc(0.8em + 0.8vw);
        margin: 0px;
        padding : 0px 20px 16px 20px;
        background-color: $black-color;
        color: $secondary-color;
    }

    & a {
        background-color: $black-color;
    }

    & .boutonPro {
        padding-top: 40px;
    }
}

/* Erreur */
.header_error {
    height: 200px !important;
    background-image: url("../../assets/nav6.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    animation: anim_un 10s linear infinite;
}

.error {
    @include display-flex(column);
    align-items: center;
    background-color: $tertiary-color;
    padding-bottom: 20px;

    & img {
        height: auto;
        width: 100%;
    }

    &_title {
        font-size: calc(2em + 2vw);
    }

    &_subtitle {
        text-align: center;
        font-size: calc(1.2em + 1.2vw);
    }

    & .boutonPro {
        padding: 20px 0px;

        & a {
            color: $black-color;
            border: 2px solid $black-color;
            border-radius: 20px;
            padding: 8px 16px;
    
            &:hover {
                color: $secondary-color;
                background-color: $black-color;
                border-color: $secondary-color;
            }
        }
    }
}

/* Tablet */
@media all and (max-width: 1199px) {
    .header {
        &_livraison, &_simulateur, &_cgv, &_mentionsLegales, &_error {
            height: 300px !important;
            animation: anim_deux 10s linear infinite;
        }
    }

    .livraison {
        &_conteneur {
            padding: 0px 40px;
        }

        &_titre{
            padding-top: 30px;
        }

        &_texte {
            @include display-flex(column);
        }
        
        &_texte_livraison, &_texte_retrait {
            width: 100%;
        }
    }

    .cgv, .mentionsLegales {
        padding: 20px;
    }
}

/* Smartphone */
@media all and (max-width: 767px) {
    .header {
        &_livraison, &_simulateur, &_cgv, &_mentionsLegales, &_error {
            animation: anim_trois 10s linear infinite;
        }
    }

    .livraison {
        &_conteneur {
            padding: 0px 10px;
        }

        .maps_img {
            height: 300px;
            width: 300px;
        }
    }
}

@media all and (max-width: 549px) {
    .header {
        &_livraison, &_simulateur, &_cgv, &_mentionsLegales, &_error {
            animation: anim_quatre 10s linear infinite;
        }
    }
}