/* Variables */

$primary-color: #646464;
$secondary-color: #D3D3D3;
$tertiary-color: #F5F5F5;
$black-color: #28292A;
$silver-color: linear-gradient(100deg, white, #B2B6BA, #A7ABAE, #DEE0E1, #EBEBEB, white);
$font-family-primary: "Noto Serif JP";
$font-family-default: sans-serif;

/* Mixins */

@mixin display-flex($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
}

/* Code */

.produits {
    padding-top: 120px;
    padding-bottom: 50px;
    color: $black-color;
    background: $tertiary-color;
    
    &_conteneur {
        @include display-flex(column);
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;

        & h1 {
            font-size: calc(2em + 2vw);
            letter-spacing: 5px;
        }

        & h3 {
            text-align: center;
            font-size: calc(0.4em + 0.8vw);
            padding: 20px 50px;
        }

        &_ligne {
            width: 150px;
            align-self: center;
            border-bottom: 5px solid $black-color;
            padding-bottom: 20px;
        }
    }

    &_categories {
        width: 100%;
        @include display-flex(column);
        gap: 10px;

        &_card {    
            height: 250px;
            width: 100%;
            overflow: hidden;
            
            & img {
                height: 100%;
                width: 100%;
                object-fit: cover; 
            }

            & a {
                height: 100%;
                width: 100%;
                display: flex;
                color: $black-color;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                transition: transform 0.5s;
        
                &:hover {
                    transform : scale(1.2);

                    & h2 {
                        color: $secondary-color;
                    }
                }
            }

            & h2 {
                display: flex;
                position: absolute;
                color: white;
                text-shadow: 0 0 10px $black-color;
                font-size: calc(2em + 1.2vw);
                letter-spacing: 5px;
            }
        }
    }
}

.plus {
    height: auto;
    @include display-flex(column);
    text-align: center;
    gap: 30px;
    padding: 0px 20px 40px 20px;
    background-color: $secondary-color;

    & h2 {
        font-size: calc(1em + 1.2vw); 
        padding: 30px 0px;
        letter-spacing: 3px;
    }

    &_ensemble {
        height: auto;
        @include display-flex(row);
    }

    &_bloc {
        width: 20%;
        @include display-flex(column);
        gap: 20px;

        & h3 {
            font-size: calc(0.3em + 0.8vw);
        }

        & i {
            font-size: calc(1em + 1.6vw);
        }
    }
}

.divEspace {
    height: 50px;
    background-color: $tertiary-color;
}

/* Tablet */

@media all and (max-width: 1199px) {
    .produits_categories {
        height: 1000px;
    }
}

/* Smartphone */

@media all and (max-width: 767px) {
    .produits_categories {
        height: 800px;
    }
}