/* Variables */

$primary-color: #646464;
$secondary-color: #D3D3D3;
$tertiary-color: #F5F5F5;
$black-color: #28292A;
$silver-color: linear-gradient(100deg, white, #B2B6BA, #A7ABAE, #DEE0E1, #EBEBEB, white);
$font-family-primary: "Noto Serif JP";
$font-family-default: sans-serif;

/* Mixins */

@mixin display-flex($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
}

/* Import de polices */

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

/* Body */

body {
	font-family: $font-family-primary, $font-family-default;    
	font-weight: 500;
    color: $black-color;
	margin: 0px;
}

a {
    text-decoration: none;
    color: $black-color;
}

h1, h2, h3 {
    margin: 0;
}

button {
    padding: 0px;
}

/* Header */

.header, .headerHome {
    width: 100%;
    display: flex;
    position: relative;
    z-index: 5;

    & h2 {
        font-size: calc(0.5em + 0.5vw);
        font-weight: bolder;
    }

    &_nav {
        height: 100%;
        width: 100%;
        @include display-flex(row);
        position: absolute;
        gap: 20px;
    }

    &_logo {
        width: 25%;
        display: flex;

        & img {
            height: auto;
            width: 100%; 
        }
    }
}

.headerHome {
    height: 700px;

    & video {
        height: 100%;
        width: 100%;
        display: flex;
        position: relative;
        object-fit: cover;
    }

    &_logo {
        padding-top: 30px; 
    }
}

.header {
    height: 120px;
    position: fixed;
    background-image: url("../assets/texture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &_logo {
        justify-content: center;
        align-items: center;

        & a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.header_gauche, .header_droite {
    width: 37.5%;
}

.headerHome_nav_second {
    z-index: -1;
    gap: 20px;

    & .headerHome_logo {
        padding-top: 0px;
        justify-content: center;
        align-items: center;

        & a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

/* Header Gauche / Megamenu */

.header_gauche {
    @include display-flex(row);
    gap: 20px;
    text-align: center;

    &_icones {
        width: 25%;
        @include display-flex(row);
        justify-content: space-between;
        font-size: calc(0.5em + 0.8vw);
        padding-left: 15px;

        & a {
            height: 26px;
            width: 30px;

            &:hover {
                color: blue;
            }
        }
    }

    &_megamenu {
        width: 80%;
        @include display-flex(row);
        justify-content: space-between;
        align-items: flex-start;

        & li {
            font-size: calc(0.5em + 0.5vw);
            margin: 0px;
        }
    
        & a:hover {
            color: blue;
        }

        &_carrelage {
            &:hover .categories_carrelage {
                @include display-flex(column);
            }
        }

        &_parquet {
            &:hover .categories_parquet {
                @include display-flex(column);
            }
        }

        &_sanitaire {
            &:hover .categories_sanitaire {
                @include display-flex(column);
            }
        }
    
        & .bouton_carrelage, & .bouton_parquet, & .bouton_sanitaire{
            cursor: pointer;
            color: $black-color;
            font-family: $font-family-primary;
            font-size: calc(0.5em + 1vw);
            font-weight: bolder;
            border: none;
            background: none;
        }
    }
}

.headerHome .header_gauche {
    padding-top: 35px;

    &_megamenu {
        &_carrelage, &_parquet, &_sanitaire {
            &:hover {
                padding-bottom: 50px;
            }
        }
    }
}

.header .header_gauche {
    align-items: center;
    padding-top: 0px;

    &_megamenu {
        &_carrelage, &_parquet, &_sanitaire {
            margin: 50px 0px;

            &:hover {
                margin : 0px;
                padding: 50px 0px;
            }
        }
    }
}

.categories_carrelage, .categories_parquet, .categories_sanitaire {
    width: 60%;
    display: none;
    position: absolute;
    text-align: left;
    background: rgba($secondary-color, $alpha: 0.80);
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
    gap: 10px;

    & h3 {
        font-size: calc(0.6em + 0.6vw);
        text-transform: uppercase;
        font-weight: bolder;
    }

    & ul {
        @include display-flex(row);
        margin: 5px 0px;
        gap: 40px;
    }

    &:hover {
        @include display-flex(column);
    }
}

.header .categories_carrelage, .header .categories_parquet, .header .categories_sanitaire {
    background-color: $secondary-color;
}

.li_un {
    list-style: none;
}

/* Header Droite */

.header_droite {
    @include display-flex(row);
    gap: 20px;
    text-align: center;

    &_onglets {
        width: 80%;
        @include display-flex(row);
        justify-content: space-between;
        font-size: calc(0.5em + 1vw);
        
        & a:hover {
            color: blue;
        }
    }

    &_icones {
        width: 25%;
        @include display-flex(row);
        justify-content: space-between;
        font-size: calc(0.5em + 0.8vw);
        padding-right: 15px;

        & a {
            height: 26px;
            width: 30px;

            &:hover {
                color: blue;
            }
        }
    }
}

.headerHome .header_droite {
    padding-top: 35px;
}

.header .header_droite {
    align-items: center;
    padding-top: 0px;
}

/* Main */

main {
    @include display-flex(column);
    background: $tertiary-color;
}

/* Gammes de Produits */

.gammes {
    @include display-flex(column);
    position: relative;
    text-align: center;
    padding: 0px 25px;

    &_titre {
        @include display-flex(column);
        position: relative;
        text-align: center;
        padding: 40px 0px;

        & h2 {
            font-size: calc(1.4em + 1vw);
        }

        & h3 {
            font-size: calc(0.6em + 0.8vw);
        }
    }
}

.gallery {
    display: flex;
    position: relative;
    height: 700px;
    width: 100%;
    @include display-flex(column);
    justify-content: space-between;
    gap: 1%;

    &_un {
        height: 40%;
        width: 100%;
        @include display-flex(row);
        gap: 1.5%;
    }

    &_deux {
        height: 50%;
        width: 100%;
        @include display-flex(row);
        gap: 1.5%;
    }

    &_trois {
        height: 100%;
        width: 50%;
        display: flex;

        & h3 {
            font-size: calc(1.5em + 1vw) !important;
        }
    }

    &_quatre {
        height: 100%;
        width: 25%;
        @include display-flex(column);
        gap: 8%;
    }

    &_cinq {
        height: 50%;
        width: 100%;
        display: flex;
    }

    &_six {
        height: 100%;
        width: 51.6%;
        display: flex;

        & h3 {
            font-size: calc(1.2em + 0.9vw) !important;
        }
    }

    &_sept {
        height: 60%;
        width: 100%;
        @include display-flex(column);
        gap: 12%;
    }

    & img {
        height: 100%;
        width: 100%;
        @include display-flex(row);
        object-fit: cover;
    }

    & p {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    & a {
        height: 100%;
        width: 100%;
        display: flex;
        color: $black-color;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s;

        &:hover {
            transform : scale(1.2);

            & h3 {
                color: $secondary-color;
            }
        }
    }
    
    & h3 {
        display: flex;
        position: absolute;
        font-size: calc(0.8em + 0.4vw);
        color: white;
        text-shadow: 0 0 10px $black-color;
    }
}

.gallery, .gallery_un, .gallery_deux, .gallery_trois, .gallery_quatre, .gallery_cinq, .gallery_six, .gallery_sept {
    overflow: hidden;
    border-radius: 10px;
}

.gallery_trois, .gallery_cinq, .gallery_six {
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

/* Qui sommes-nous / Accompagnement professionnels */

.presentation, .pro {
    height: 800px;
    @include display-flex(row);
    gap: 20px;
    padding: 0px 20px;

    &_texte {
        width: 40%;
        @include display-flex(column);
        justify-content: center;
        text-align: center;
        padding: 0px 30px;
        border-radius: 10px;

        & h2 {
            font-family: 'Assistant', sans-serif;
            font-size: calc(1.6em + 0.6vw);
            font-weight: bold;
            letter-spacing : 3px;
            padding-bottom: 30px;
        }

        & p {
            margin: 16px;
        }

        &_ligne {
            width: 150px;
            align-self: center;
        }

        &_top {
            padding-top: 40px;
        }
    }

    &_photo {
        width: 60%;

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

.presentation {
    padding-bottom: 80px;

    &_texte {
        color: $black-color;
        background-color: $secondary-color;

        & p {
            font-size: calc(0.5em + 0.6vw);
        }

        &_ligne {
            border-bottom: 3px solid $black-color;    
        }
    }
}

.pro {
    padding-bottom: 80px;
    padding-top: 80px;

    &_texte {
        color: $tertiary-color;
        background-color: $black-color;

        & p {
            font-size: calc(0.7em + 0.7vw);
        }

        &_ligne {
            border-bottom: 3px solid $tertiary-color;
        }
    }
}

.pro_boutons {
    @include display-flex(row);
    justify-content: center;
    gap: 50px;
    padding-top: 30px;
}

.boutonPro {
    cursor: pointer;
    display: flex;
    align-self: center;
    font-family: $font-family-primary;
    padding: 0px;
    background: none;
    border: none;
    
    & a {
        font-size: calc(1em + 0.6vw);
        color: $tertiary-color;
        border: 2px solid $tertiary-color;
        border-radius: 20px;
        padding: 8px 16px;

        &:hover {
            color: $black-color;
            background-color: $secondary-color;
            border-color: $black-color;
        }
    }
}

/* Showroom */

.showroom {
    height: 600px;
    width: 100%;
    display: flex;
    position: relative; 
    justify-content: center;
    align-items: center;
    background-image: url("../assets/showroom1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &_div {
        height: 70%;
        width: 60%;
        @include display-flex(row);
        justify-content: space-around;
        text-align: center;
        align-items: center;
        background: $secondary-color;
        border-radius: 40px;

        & img {
            height: 300px;
            width: 600px;
            padding-right: 40px;
        }
        
        &_texte {
            @include display-flex(column);
            font-size: calc(0.3em + 1vw);
            gap: 30px;

            & p {
                margin: 0px;
                padding: 0px 40px;
            }
        }
    }
}

.adresse {
    font-size: calc(0.8em + 1vw);
    font-weight: bold;
    font-style: italic
}

/* Footer  */

.footer {
    @include display-flex(column);

    & a {
        color: $black-color;
    }

    &_list {
        @include display-flex(row);
        justify-content: space-between;
        text-align: center;
        background-image: url("../assets/texture.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        & ul {
            width: 33%;
            gap: 10px;
            @include display-flex(column);
            align-items: center;
            font-size: calc(0.8em + 0.4vw);
            padding: 40px;
            margin: 0px;
        }

        & li {
            list-style: none;
            font-size: 0.8em;
        }

        & h4 {
            margin: 0px;
            padding-bottom: 10px;
        }

        & a:hover {
            color: rgb(0, 255, 0);
        }
    }

    &_end {
        @include display-flex(row);
        justify-content: center;
        align-items: center;
        text-align: center;
        background: $secondary-color;
        font-size: calc(0.6em + 0.2vw);

        & div {
            width: 20%;
            display: flex;
            justify-content: center;
        }

        & img {
            height: 60px;
            width: 60px;
        }

        & a:hover {
            color: white;
        }
    }

    &_contact {
        &_telephone, &_email, &_showroom {
            text-align: center;

            & p {
                text-decoration: underline;
                margin: 0px;
            }
        }
    }
}

.instagram {
    padding-top: 20px;
}

/* Tablet */

@media all and (max-width: 1199px) {
    .headerHome {
        height: 550px;
    }

    .header {
        height: 100px;

        &_gauche {
            &_megamenu {
                width: 80%;  
            }

            &_icones {
                width: 20%;
                padding-left: 10px;
            }
        }

        &_droite {
            &_onglets {
                width: 80%;  
            }

            &_icones {
                width: 20%;
                padding-right: 10px;
            }
        }
    }

    .presentation, .pro {
        height: 600px;

        & h2 {
            font-size: calc(0.8em + 0.8vw);
        }

        &_texte {
            padding: 0px 15px;
        }
    }

    .presentation {
        & p {
            font-size: calc(0.45em + 0.45vw);
        }
    }

    .gammes {
        &_pays {
            position: relative;
            top: 0%;
            right: 0%;
            padding-bottom: 40px;

            & p {
                font-size: calc(0.6em + 0.5vw);
            }

        } 
    }

    .pro {
        & p {
            font-size: calc(0.55em + 0.55vw);
        }
    }

    .pro_boutons {
        gap: 20px;
    }

    .boutonPro {
        & a {  
            font-size: calc(0.8em + 0.6vw);
        }
    }

    .showroom {
        height: 500px;

        &_div {
            &_texte p {
                padding: 0px 20px;
            }

            & img {
                height: 200px;
                width: 400px;
                padding-right: 20px;
            }
        }
    }
}

/* Smartphone */

@media all and (max-width: 767px) {
    .headerHome {
        height: 400px;
    }

    .header {
        &_gauche {
            padding-top: 20px;
        }

        &_droite {
            padding-top: 20px;

            &_icones {
                gap: 10px;
                padding-right: 10px;
            }
        }
    }

    .gammes {
        & h2 {
            font-size: calc(0.9em + 0.9vw);            
        }

        & h3 {
            font-size: calc(0.4em + 0.4vw);            
        }


        &_titre {
        padding-top: 20px;
        padding-bottom: 20px;
        }
    }

    .presentation, .pro {
        height: 400px;
        padding-top: 40px;
        gap: 10px;

        &_photo {
            width: 40%;
        }

        &_texte {
            width: 60%;

            & p {
                margin: 8px;
                font-size: calc(0.40em + 0.40vw);
            }

            & h2 {
                font-size: calc(0.60em + 0.60vw);
                padding-bottom: 10px;  
            }

            &_top {
                padding-top: 20px;
            }
        }
    }

    .pro {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .boutonPro {
        & a {
            font-size: calc(0.60em + 0.60vw);    
        }
    }

    .showroom {
        height: 400px;

        &_div {
        @include display-flex(column);
        justify-content: center;
        gap: 20px;

            & img {
                height: 100px;
                width: 200px;
                padding-right: 0px;
            }

            &_texte {
                gap: 15px;
            }
        }
    }

    .footer {
        &_end {
            font-size: calc(0.4em + 0.2vw);
        }
    }
}

@media all and (max-width: 499px) {
    .footer {
        & ul {
            padding: 10px;
        }

        &_list {
            @include display-flex(column);
            align-items: center;
        }
    }

    .instagram {
        padding-top: 0px;
    }
}

@media all and (max-width: 399px) {
    .header_droite_icones {
        @include display-flex(column);
        justify-content: left;
        padding-right: 0px;
    }
}