/* Import de polices */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
/* Variables */
/* Mixins */
/* Keyframes */
@keyframes anim_un {
  0% {
    background-position: 0px -300px;
  }
  25% {
    background-position: 0px -350px;
  }
  50% {
    background-position: 0px -400px;
  }
  75% {
    background-position: 0px -350px;
  }
  100% {
    background-position: 0px -300px;
  }
}
@keyframes anim_deux {
  0% {
    background-position: 0px -150px;
  }
  25% {
    background-position: 0px -175px;
  }
  50% {
    background-position: 0px -200px;
  }
  75% {
    background-position: 0px -175px;
  }
  100% {
    background-position: 0px -150px;
  }
}
@keyframes anim_trois {
  0% {
    background-position: 0px 0px;
  }
  25% {
    background-position: 0px -12.5px;
  }
  50% {
    background-position: 0px -25px;
  }
  75% {
    background-position: 0px -12.5px;
  }
  100% {
    background-position: 0px 0px;
  }
}
@keyframes anim_quatre {
  0% {
    background-position: 0px 0px;
  }
  25% {
    background-position: -5px 0px;
  }
  50% {
    background-position: -10px 0px;
  }
  75% {
    background-position: -5px 0px;
  }
  100% {
    background-position: 0px 0px;
  }
}
@keyframes cat {
  0% {
    background: rgba(211, 211, 211, 0);
  }
  100% {
    background: rgba(211, 211, 211, 0.9);
  }
}
@keyframes presentation {
  0% {
    right: 100%;
  }
  25% {
    right: 40%;
  }
  100% {
    right: 0%;
  }
}
@keyframes pro {
  0% {
    left: 100%;
  }
  25% {
    left: 40%;
  }
  100% {
    left: 0%;
  }
}
/* Code */
/* Body */
body {
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 500;
  color: #28292A;
  margin: 0px;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

button {
  padding: 0px;
}

/* Header Home */
.headerHome {
  height: 700px;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 10;
}
.headerHome h2 {
  font-size: calc(0.5em + 0.5vw);
}
.headerHome a {
  display: flex;
  align-items: center;
  color: #F0F0F0;
}
.headerHome a img {
  max-height: 100px;
  min-width: 60px;
}
.headerHome video {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.headerHome_logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.headerHome_logo img {
  width: 100%;
}
.headerHome_nav {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  gap: 20px;
  transition: all 1s ease-in-out;
}
.headerHome_nav .header_gauche {
  width: 37.5%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.headerHome_nav .header_gauche_icones {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(0.5em + 0.8vw);
  padding-left: 15px;
}
.headerHome_nav .header_gauche_icones a {
  height: 26px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerHome_nav .header_gauche_icones a:hover {
  text-decoration: underline;
}
.headerHome_nav .header_gauche_megamenu {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerHome_nav .header_gauche_megamenu li {
  font-size: calc(0.5em + 0.5vw);
  margin: 0px;
}
.headerHome_nav .header_gauche_megamenu a:hover {
  text-decoration: underline;
}
.headerHome_nav .header_gauche_megamenu_carrelage, .headerHome_nav .header_gauche_megamenu_parquet, .headerHome_nav .header_gauche_megamenu_sanitaire {
  display: flex;
}
.headerHome_nav .header_gauche_megamenu_carrelage:hover, .headerHome_nav .header_gauche_megamenu_parquet:hover, .headerHome_nav .header_gauche_megamenu_sanitaire:hover {
  padding: 100px 0px;
}
.headerHome_nav .header_gauche_megamenu_carrelage:hover .categories_carrelage {
  display: flex;
  flex-direction: column;
}
.headerHome_nav .header_gauche_megamenu_parquet:hover .categories_parquet {
  display: flex;
  flex-direction: column;
}
.headerHome_nav .header_gauche_megamenu_sanitaire:hover .categories_sanitaire {
  display: flex;
  flex-direction: column;
}
.headerHome_nav .header_gauche_megamenu .bouton_carrelage, .headerHome_nav .header_gauche_megamenu .bouton_parquet, .headerHome_nav .header_gauche_megamenu .bouton_sanitaire {
  cursor: pointer;
  font-family: "Noto Serif JP";
  font-size: calc(0.5em + 1vw);
  border: none;
  background: none;
}
.headerHome_nav .header_droite {
  width: 37.5%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
}
.headerHome_nav .header_droite_onglets {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(0.5em + 1vw);
}
.headerHome_nav .header_droite_onglets a:hover {
  text-decoration: underline;
}
.headerHome_nav .header_droite_icones {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(0.5em + 0.8vw);
  padding-right: 15px;
}
.headerHome_nav .header_droite_icones a {
  height: 26px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerHome_nav .header_droite_icones a:hover {
  text-decoration: underline;
}
.headerHome .categories_carrelage, .headerHome .categories_parquet, .headerHome .categories_sanitaire {
  width: 60%;
  display: none;
  position: absolute;
  text-align: left;
  padding: 20px;
  margin-top: 50px;
  border-radius: 20px;
  gap: 10px;
  top: 70px;
  animation: cat 0.4s linear forwards;
}
.headerHome .categories_carrelage h3, .headerHome .categories_parquet h3, .headerHome .categories_sanitaire h3 {
  font-size: calc(0.6em + 0.6vw);
  text-transform: uppercase;
  font-weight: bolder;
}
.headerHome .categories_carrelage ul, .headerHome .categories_parquet ul, .headerHome .categories_sanitaire ul {
  display: flex;
  flex-direction: row;
  margin: 5px 0px;
  gap: 40px;
  padding: 0px;
}
.headerHome .categories_carrelage li::marker, .headerHome .categories_parquet li::marker, .headerHome .categories_sanitaire li::marker {
  color: #28292A;
}
.headerHome .categories_carrelage:hover, .headerHome .categories_parquet:hover, .headerHome .categories_sanitaire:hover {
  display: flex;
  flex-direction: column;
}
.headerHome .categories_carrelage .li_un, .headerHome .categories_parquet .li_un, .headerHome .categories_sanitaire .li_un {
  list-style: none;
}
.headerHome .categories_carrelage a, .headerHome .categories_parquet a, .headerHome .categories_sanitaire a {
  color: #28292A;
}

/* Header Produits */
.header {
  height: 400px;
  display: flex;
  flex-direction: column;
}
.header h2 {
  font-size: calc(0.5em + 0.5vw);
  font-weight: normal;
}
.header a {
  color: #F0F0F0;
}
.header_nav {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 20px;
  transition: all 1s ease-in-out;
}
.header .produits_conteneur {
  padding-top: 120px;
}
.header_logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo img {
  height: calc(2em + 4vw);
  max-height: 70px;
  min-width: 60px;
}
.header_carrelage {
  background-image: url("../assets/noir.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  animation: anim_un 10s linear infinite;
}
.header_parquet {
  background-image: url("../assets/parquet.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  animation: anim_un 10s linear infinite;
}
.header_sanitaire {
  background-image: url("../assets/noir3.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  animation: anim_un 10s linear infinite;
}
.header .header_gauche {
  width: 37.5%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.header .header_gauche_megamenu {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header_gauche_megamenu li {
  font-size: calc(0.4em + 0.5vw);
  margin: 0px;
}
.header .header_gauche_megamenu a:hover {
  text-decoration: underline;
}
.header .header_gauche_megamenu_carrelage, .header .header_gauche_megamenu_parquet, .header .header_gauche_megamenu_sanitaire {
  display: flex;
}
.header .header_gauche_megamenu_carrelage:hover, .header .header_gauche_megamenu_parquet:hover, .header .header_gauche_megamenu_sanitaire:hover {
  padding: 100px 0px;
}
.header .header_gauche_megamenu_carrelage:hover .categories_carrelage {
  display: flex;
  flex-direction: column;
}
.header .header_gauche_megamenu_parquet:hover .categories_parquet {
  display: flex;
  flex-direction: column;
}
.header .header_gauche_megamenu_sanitaire:hover .categories_sanitaire {
  display: flex;
  flex-direction: column;
}
.header .header_gauche_megamenu .bouton_carrelage, .header .header_gauche_megamenu .bouton_parquet, .header .header_gauche_megamenu .bouton_sanitaire {
  cursor: pointer;
  font-family: "Noto Serif JP";
  font-size: calc(0.5em + 1vw);
  font-weight: bolder;
  border: none;
  background: none;
}
.header .header_gauche_icones {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(0.5em + 0.8vw);
  padding-left: 15px;
}
.header .header_gauche_icones a {
  height: 26px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header_gauche_icones a:hover {
  text-decoration: underline;
}
.header .categories_carrelage, .header .categories_parquet, .header .categories_sanitaire {
  width: 60%;
  display: none;
  position: absolute;
  padding: 20px;
  margin-top: 10px;
  border-radius: 20px;
  top: 70px;
  animation: cat 0.4s linear forwards;
}
.header .categories_carrelage h3, .header .categories_parquet h3, .header .categories_sanitaire h3 {
  font-size: calc(0.5em + 0.6vw);
  text-transform: uppercase;
  font-weight: bolder;
}
.header .categories_carrelage ul, .header .categories_parquet ul, .header .categories_sanitaire ul {
  display: flex;
  flex-direction: row;
  margin: 5px 0px;
  gap: 40px;
  padding: 0px;
}
.header .categories_carrelage li::marker, .header .categories_parquet li::marker, .header .categories_sanitaire li::marker {
  color: #28292A;
}
.header .categories_carrelage:hover, .header .categories_parquet:hover, .header .categories_sanitaire:hover {
  display: flex;
  flex-direction: column;
}
.header .categories_carrelage .li_un, .header .categories_parquet .li_un, .header .categories_sanitaire .li_un {
  list-style: none;
}
.header .categories_carrelage a, .header .categories_parquet a, .header .categories_sanitaire a {
  color: #28292A;
}
.header .header_droite {
  width: 37.5%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  text-align: center;
  align-items: center;
  padding-top: 0px;
}
.header .header_droite a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header_droite_onglets {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(0.5em + 1vw);
}
.header .header_droite_onglets a:hover {
  text-decoration: underline;
}
.header .header_droite_icones {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(0.5em + 0.8vw);
  padding-right: 15px;
}
.header .header_droite_icones a {
  height: 26px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header_droite_icones a:hover {
  text-decoration: underline;
}

.hidden {
  display: none !important;
}

/* HeaderHome Scroll */
.headerHome_scroll {
  height: 700px;
}
.headerHome_scroll video {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.headerHome_scroll .headerHome_logo {
  width: auto;
}
.headerHome_scroll .headerHome_logo img {
  width: auto;
}

/* Header Scroll Produits */
.header_nav_scroll {
  height: 50px;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #646464;
  z-index: 10;
  transition: all 1s ease-in-out;
}
.header_nav_scroll .header_gauche {
  width: 40% !important;
  gap: 40px;
}
.header_nav_scroll .header_logo img {
  height: calc(2em + 4vw);
  max-height: 50px;
  min-width: 60px;
  padding-top: 0px;
}
.header_nav_scroll .headerHome_logo {
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}
.header_nav_scroll .headerHome_logo img {
  height: calc(2em + 4vw);
  max-height: 50px;
  min-width: 60px;
}
.header_nav_scroll .headerHome_logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_nav_scroll .header_droite {
  width: 40% !important;
  gap: 40px;
}
.header_nav_scroll .categories_carrelage, .header_nav_scroll .categories_parquet, .header_nav_scroll .categories_sanitaire {
  background-color: #D3D3D3;
  margin-top: 0px;
}

/* Hamburger menu */
.burger_button {
  display: none;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  background: #F0F0F0;
}

/* Gammes de Produits */
.gammes {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding: 0px 25px;
}
.gammes_titre {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding: 40px 0px;
}
.gammes_titre h2 {
  font-size: calc(1.4em + 1vw);
}
.gammes_titre h3 {
  font-size: calc(0.6em + 0.8vw);
}

.gallery {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  gap: 1%;
}
.gallery_un {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5%;
}
.gallery_deux {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5%;
}
.gallery_trois {
  height: 100%;
  width: 50%;
  display: flex;
}
.gallery_trois h3 {
  font-size: calc(1.5em + 1vw);
}
.gallery_quatre {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 8%;
}
.gallery_cinq {
  height: 50%;
  width: 100%;
  display: flex;
}
.gallery_cinq h3 {
  font-size: calc(0.7em + 0.9vw);
}
.gallery_six {
  height: 100%;
  width: 51.6%;
  display: flex;
}
.gallery_six h3 {
  font-size: calc(1.2em + 0.9vw);
}
.gallery_sept {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12%;
}
.gallery img {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery p {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.gallery a {
  height: 100%;
  width: 100%;
  display: flex;
  color: #F0F0F0;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}
.gallery a:hover {
  transform: scale(1.2);
}
.gallery a:hover h3 {
  color: #D3D3D3;
}
.gallery h3 {
  display: flex;
  position: absolute;
}

.gallery, .gallery_un, .gallery_deux, .gallery_trois, .gallery_quatre, .gallery_cinq, .gallery_six, .gallery_sept {
  overflow: hidden;
  border-radius: 10px;
}

.gallery_trois, .gallery_cinq, .gallery_six {
  flex-wrap: wrap;
  position: relative;
}

/* Qui sommes-nous / Accompagnement professionnels */
.presentation, .pro {
  height: 800px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0px 20px;
}
.presentation_texte, .pro_texte {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 30px;
  border-radius: 10px;
}
.presentation_texte h2, .pro_texte h2 {
  font-family: "Assistant", sans-serif;
  font-size: calc(1.6em + 0.6vw);
  font-weight: bold;
  letter-spacing: 3px;
  padding-bottom: 30px;
}
.presentation_texte p, .pro_texte p {
  margin: 16px;
}
.presentation_texte_ligne, .pro_texte_ligne {
  width: 150px;
  align-self: center;
}
.presentation_texte_top, .pro_texte_top {
  padding-top: 40px;
}
.presentation_photo, .pro_photo {
  width: 60%;
}
.presentation_photo img, .pro_photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.presentation {
  padding-bottom: 80px;
  position: relative;
  animation: presentation 5s forwards ease-in-out;
}
.presentation_texte {
  color: #28292A;
  background-color: #D3D3D3;
}
.presentation_texte p {
  font-size: calc(0.5em + 0.6vw);
}
.presentation_texte_ligne {
  border-bottom: 3px solid #28292A;
}

.pro {
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;
  animation: pro 5s forwards ease-in-out;
}
.pro_texte {
  color: #F0F0F0;
  background-color: #28292A;
}
.pro_texte p {
  font-size: calc(0.7em + 0.7vw);
}
.pro_texte_ligne {
  border-bottom: 3px solid #F0F0F0;
}
.pro_boutons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding-top: 30px;
}

.boutonPro {
  cursor: pointer;
  display: flex;
  align-self: center;
  font-family: "Noto Serif JP";
  padding: 0px;
  background: none;
  border: none;
}
.boutonPro a {
  font-size: calc(1em + 0.6vw);
  color: #F0F0F0;
  border: 2px solid #F0F0F0;
  border-radius: 20px;
  padding: 8px 16px;
}
.boutonPro a:hover {
  color: #28292A;
  background-color: #D3D3D3;
  border-color: #28292A;
  transition: all 0.6s linear;
}

/* Showroom */
.showroom {
  height: 600px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/showroom1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.showroom_div {
  height: 70%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background: #D3D3D3;
  border-radius: 40px;
}
.showroom_div img {
  height: 75%;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 40px;
}
.showroom_div_texte {
  display: flex;
  flex-direction: column;
  font-size: calc(0.3em + 1vw);
  gap: 30px;
}
.showroom_div_texte p {
  margin: 0px;
  padding: 0px 40px;
}
.showroom_adresse {
  font-size: calc(0.8em + 1vw);
  font-weight: bold;
  font-style: italic;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
}
.footer_list {
  display: flex;
  flex-direction: row;
  background-color: #D3D3D3;
  color: #28292A;
}
.footer_list h4 {
  margin: 0px;
  padding-bottom: 10px;
}
.footer_list ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  gap: 10px;
}
.footer_list li {
  list-style: none;
  font-size: 0.8em;
}
.footer_list a {
  color: #28292A;
}
.footer_list a:hover {
  text-decoration: underline;
}
.footer_produits, .footer_services, .footer_contact {
  width: 33%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(0.8em + 0.4vw);
  padding: 40px;
  margin: 0px;
}
.footer_produits_texte, .footer_services_texte, .footer_contact_texte {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_contact_telephone, .footer_contact_email, .footer_contact_showroom {
  text-align: center;
}
.footer_contact_telephone p, .footer_contact_email p, .footer_contact_showroom p {
  text-decoration: underline;
  margin: 0px;
}
.footer_services .rs {
  padding-top: 10px;
}
.footer_services .rs i {
  font-size: 2.8em;
}
.footer_end {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #646464;
  color: #F0F0F0;
  font-size: calc(0.6em + 0.2vw);
}
.footer_end div {
  width: 20%;
  display: flex;
  justify-content: center;
}
.footer_end img {
  height: 40px;
  width: 40px;
}
.footer_end a {
  color: #F0F0F0;
}
.footer_end a:hover {
  text-decoration: underline;
}

/* Tablet */
@media all and (max-width: 1199px) {
  .headerHome {
    height: 550px;
  }
  .headerHome .categories_carrelage, .headerHome .categories_parquet, .headerHome .categories_sanitaire {
    width: 85%;
    left: 5%;
    top: 40px;
  }
  .headerHome_scroll {
    height: 550px;
  }
  .header_parquet, .header_carrelage, .header_sanitaire {
    height: 300px;
    animation: anim_deux 10s linear infinite;
  }
  .header .produits_conteneur {
    padding-top: 70px;
  }
  .header_gauche {
    gap: 5px !important;
  }
  .header_gauche_icones {
    padding-left: 10px;
  }
  .header_droite {
    gap: 5px !important;
  }
  .header_droite_icones {
    padding-right: 10px;
  }
  .presentation, .pro {
    height: 600px;
  }
  .presentation h2, .pro h2 {
    font-size: calc(0.8em + 0.8vw);
  }
  .presentation_texte, .pro_texte {
    padding: 0px 15px;
  }
  .presentation p {
    font-size: calc(0.45em + 0.45vw);
  }
  .gammes p {
    font-size: calc(0.6em + 0.5vw);
  }
  .gammes_titre {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .gallery_sept {
    gap: 10%;
  }
  .pro p {
    font-size: calc(0.55em + 0.55vw);
  }
  .pro_boutons {
    gap: 20px;
  }
  .boutonPro a {
    font-size: calc(0.8em + 0.6vw);
  }
  .showroom {
    height: 500px;
  }
  .showroom_div_texte p {
    padding: 0px 20px;
  }
  .showroom_div img {
    padding-right: 20px;
  }
}
/* Smartphone */
@media all and (max-width: 767px) {
  .headerHome {
    height: 300px;
  }
  .headerHome_logo {
    padding-top: 20px;
  }
  .headerHome .header_gauche {
    display: flex;
    flex-direction: column-reverse;
    justify-content: right;
    align-items: center;
    padding-top: 20px;
  }
  .headerHome .header_gauche_icones {
    padding: 0px;
    width: 80%;
    justify-content: center;
    gap: 20px;
  }
  .headerHome .header_droite {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px !important;
  }
  .headerHome .header_droite_onglets, .headerHome .header_droite_icones {
    width: 80%;
    padding: 0px;
  }
  .headerHome .header_droite_onglets {
    justify-content: space-between;
  }
  .headerHome .header_droite_icones {
    justify-content: center;
    gap: 20px;
  }
  .headerHome .categories_carrelage, .headerHome .categories_parquet, .headerHome .categories_sanitaire {
    margin-top: 60px;
    top: 10px;
  }
  .headerHome_scroll {
    height: 300px;
  }
  .header {
    animation: anim_trois 10s linear infinite;
  }
  .header .header_nav {
    justify-content: space-between;
    gap: 0px;
  }
  .header .header_nav_scroll .header_gauche, .header .header_nav_scroll .header_droite {
    gap: 5px;
  }
  .header .header_gauche, .header .header_droite {
    width: 40%;
    justify-content: center;
    align-items: center;
  }
  .header .header_gauche_megamenu_carrelage, .header .header_gauche_megamenu_parquet, .header .header_gauche_megamenu_sanitaire, .header .header_droite_megamenu_carrelage, .header .header_droite_megamenu_parquet, .header .header_droite_megamenu_sanitaire {
    margin: 0px !important;
  }
  .header .header_gauche_icones, .header .header_droite_icones {
    justify-content: center;
    padding: 0px;
    gap: 30px;
  }
  .header .header_gauche {
    display: flex;
    flex-direction: column-reverse;
  }
  .header .header_gauche_megamenu_carrelage:hover .categories_carrelage, .header .header_gauche_megamenu_parquet:hover .categories_carrelage, .header .header_gauche_megamenu_sanitaire:hover .categories_carrelage {
    width: 80%;
  }
  .header .header_droite {
    display: flex;
    flex-direction: column;
  }
  .header .header_logo img {
    height: calc(2em + 2vw);
  }
  .header .categories_carrelage, .header .categories_parquet, .header .categories_sanitaire {
    width: 85%;
    left: 5%;
    top: 40px;
    margin-top: 30px;
  }
  .header_nav_scroll .categories_carrelage, .header_nav_scroll .categories_parquet, .header_nav_scroll .categories_sanitaire {
    margin-top: 15px;
  }
  .gammes_titre {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .gallery_sept {
    gap: 7%;
  }
  .presentation, .pro {
    height: 400px;
    padding-bottom: 40px;
    gap: 10px;
  }
  .presentation_photo, .pro_photo {
    width: 40%;
  }
  .presentation_texte, .pro_texte {
    width: 60%;
  }
  .presentation_texte p, .pro_texte p {
    margin: 8px;
    font-size: calc(0.4em + 0.3vw);
  }
  .presentation_texte h2, .pro_texte h2 {
    font-size: calc(0.6em + 0.6vw);
    padding-bottom: 10px;
  }
  .presentation_texte_top, .pro_texte_top {
    padding-top: 20px;
  }
  .pro {
    padding-top: 40px;
  }
  .boutonPro a {
    font-size: calc(0.6em + 0.6vw);
  }
  .showroom {
    height: 400px;
  }
  .showroom_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .showroom_div img {
    height: 40%;
    padding-right: 0px;
  }
  .showroom_div_texte {
    gap: 15px;
  }
  .footer_end {
    font-size: calc(0.4em + 0.2vw);
  }
}
@media all and (max-width: 549px) {
  .headerHome_nav {
    justify-content: center;
  }
  .headerHome_logo {
    width: 35%;
    text-align: center;
    padding-top: 0px;
  }
  .headerHome_logo img {
    min-width: 160px !important;
  }
  .header {
    animation: anim_quatre 10s linear infinite;
  }
  .header_nav {
    justify-content: center !important;
  }
  .header_gauche {
    height: 100%;
    position: fixed;
    left: -500px;
    top: 0;
    align-self: center;
    visibility: hidden;
    background-color: #28292A;
    transition: all 0.8s ease-out;
    justify-content: space-evenly !important;
  }
  .header_gauche h2 {
    font-size: calc(1em + 1vw);
  }
  .header_gauche_megamenu {
    flex-direction: column !important;
    align-items: center !important;
    gap: 50px;
  }
  .header_gauche_megamenu_carrelage, .header_gauche_megamenu_parquet, .header_gauche_megamenu_sanitaire {
    padding: 0px !important;
  }
  .header_gauche_megamenu_carrelage:hover .categories_carrelage, .header_gauche_megamenu_parquet:hover .categories_parquet, .header_gauche_megamenu_sanitaire:hover .categories_sanitaire {
    display: none !important;
  }
  .header_gauche_icones {
    flex-direction: column !important;
    align-items: center !important;
    gap: 30px !important;
  }
  .header_gauche_icones i {
    font-size: calc(2em + 2vw);
  }
  .header_droite {
    display: none !important;
  }
  .headerHome_scroll .burger_button, .header_nav_scroll .burger_button {
    top: 10px;
  }
  .header_nav_scroll {
    display: flex;
    justify-content: center;
  }
  .header_nav_scroll .headerHome_logo {
    width: 35%;
    text-align: center;
    padding-top: 0px;
  }
  .header_nav_scroll .headerHome_logo img {
    min-width: 0px !important;
  }
  /* Hamburger menu */
  .burger_button {
    display: flex;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 5;
    background: transparent;
    border: none;
    color: inherit;
  }
  .burger_button:hover {
    cursor: pointer;
    position: fixed;
  }
  .burger_bar, .burger_bar::before, .burger_bar::after {
    display: block;
    width: 30px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: #F0F0F0;
    transition: all 0.5s ease-in-out;
  }
  .burger_bar::before, .burger_bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burger_bar::before {
    transform: translateY(12px);
  }
  .burger_bar::after {
    transform: translateY(24px);
  }
  .show-burger .burger_bar {
    width: 0;
    background: transparent;
    padding-top: 10px;
  }
  .show-burger .burger_bar::before {
    transform: rotate(45deg);
  }
  .show-burger .burger_bar::after {
    transform: rotate(-45deg);
  }
  .show-burger .header_gauche {
    width: 40% !important;
    visibility: visible;
    left: 0;
    z-index: 3;
    padding-top: 0px;
  }
  .gallery {
    height: 500px;
  }
  .gallery_trois h3 {
    font-size: calc(1.2em + 1vw);
  }
  .gallery_cinq {
    font-size: calc(0.6em + 0.6vw);
  }
  .presentation_texte_top, .pro_texte_top {
    padding-top: 5px;
  }
  .presentation_texte p, .pro_texte p {
    font-size: calc(0.3em + 0.8vw);
  }
  .footer h4 {
    padding: 0px;
  }
  .footer_list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_produits_texte, .footer_services {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer_produits_texte ul, .footer_services ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
  }
  .footer_produits_texte .list_un, .footer_services .list_un {
    gap: 40px;
  }
  .footer_produits, .footer_services, .footer_contact {
    width: 100%;
    padding: 10px 0px;
  }
  .footer_produits .rs, .footer_services .rs, .footer_contact .rs {
    padding: 0px;
    gap: 40px;
  }
  .footer_produits .rs li, .footer_services .rs li, .footer_contact .rs li {
    font-size: 0.6em;
  }
}/*# sourceMappingURL=index.css.map */